{% extends "base.html.twig" %}

{% block title %}Visningsoversigt{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>


{% endblock %}
{% block content %}


    <div class="alert_placeholder"></div>
    <h1>Content</h1>
    <form id="idform" action="/submitids" method="POST">
        <ul>
            {% for item in json %}
                <li><input type="checkbox" id="checkbox-{{ item.id }}" name="{{ item.id }}" value="{{ item.id }}"> {{ item.title.rendered|e }}
                </li>
            {% endfor %}
        </ul>

    </form>


    <button class="sendData" type="button">Opdater App</button>
    <button class="updateList" type="button">Opdater Liste</button>

    <script>


        // A $( document ).ready() block.
        $(document).ready(function () {

            $('.sendData').on('click', function () {
                console.log('Sending Data');
                $.ajax({
                    url:'/submitids',
                    type:'post',
                    data:$('#idform').serialize(),
                    success:function(){

                        addAlert('.alert_placeholder', "App Opdateret");

                    }
                });

            });

            $('.updateList').on('click', function () {
                console.log("updating")
                $.get( "/update", function( data ) {
                    console.log("Sucess");
                    location.reload(); // the baddest way to do this,, but sooooooo easy
                });
            });


            //Now check the boxes from the database
            {% for item in checkboxes %}
            $("#checkbox-{{ item.id }}").attr("checked", true);
            {% endfor %}




        });


        function addAlert(css_selector, message) {

            let html = '<div class="alert alert-success" role="alert">' + message + '</div>';
            $(css_selector).prepend(html);
            alertTimeout(5000, css_selector);
        }

        function alertTimeout(wait, css_selector){
            setTimeout(function(){
                $(css_selector).children('.alert:first-child').remove();
            }, wait);
        }

    </script>

{% endblock %}